<HEAD>
</HEAD>
<FONT FACE="ARIAL,VERDANA,HELVETICA" SIZE="-1">
<P>
<HR COLOR=CC3333>
<P>
<CENTER>
<P>
<APPLET ARCHIVE="/sbm/BizSolo/common/classes/jcchart450J.zip,/sbm/BizManage/root/html/BizManageLib.zip" WIDTH=400 HEIGHT=300 CODE="com/klg/jclass/chart/applet/JCChartApplet.class">
<PARAM name="chart.dataFile" value="<bizsite_dataFileName>">
<PARAM name="chart.data.chartType" value="<bizsite_chartType>">
<PARAM name="chart.data.series1.label" value="Ser. 1">
<PARAM name="chart.data.series1.symbol.shape" value="triangle">
<PARAM name="chart.data.series2.label" value="Ser. 2">
<PARAM name="chart.data.series2.symbol.shape" value="box">
<PARAM name="chart.data.series3.label" value="Ser. 3">
<PARAM name="chart.data.series3.symbol.shape" value="dot">
<PARAM name="chart.legend.visible" value="true">
<PARAM name="chart.legend.borderType" value="plain">
<PARAM name="chart.yaxis.min" value="5">
<PARAM name="chart.yaxis.max" value="25">
<PARAM name="chart.yaxis.precision" value="0">
<PARAM name="chart.yaxis.tickSpacing" value="2.5">
<PARAM name="chart.xaxis.precision" value="0">
</APPLET>
<P>
</CENTER>
<!-- copyright information added -->
<P>
<HR COLOR=CC3333>
<P>
