/* Global CSS Classes (Applicable for All Application Pages) */
body {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
pre {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	line-height: 22px
}