.SbmReloaded { color:#009900;
font-stretch:wider}
.SbmSearchBar {
background-color:#FFFFFF;
	margin: 0px;
	vertical-align: top;
	border-bottom:#003399 1px solid;
}
.SbmSearchBar td{
	padding:1px 4px;
	height:24px;
	vertical-align:middle;
}
.SbmLogText { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt;
	background-color: #FFFFFF;
	color: #000000;
	background-image: url(../../css_70/theme01/images/sml_txt_log.gif);
}

.SbmLogText  pre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 22px;
	padding: 0px 4px;
}

.SbmSearchBar a.SbmQueryButton {
	CURSOR: pointer;
	background-color: #FFFFFF;
	text-decoration: none;
	color: #000000;
	white-space: nowrap;
	padding: 0px;
	border: 1px solid #FFFFFF;
	display:block;
}
.SbmSearchBar a.SbmQueryButton:hover {
	CURSOR: hand;
	background-color: #FFFFFF;
	text-decoration: none;
	color: #000000;
	border: 1px solid #CCCCCC;
}
.SbmSearchBar a.SbmQueryButton:active {
	background-color: #CCCCCC;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
}
.SbmSearchBar a.SbmInsideButton1:visited{
}
.SbmQuickSearchLinkDiv { }
.SbmQuickSearchLinkDiv b, span{
	padding-left: 1px;
}
.SbmQuickSearchLinkDiv a{
	padding-left: 1px;
	color:#009AFF;
}
.SbmQuickSearchLinkDiv a:hover{

	padding-left: 1px;
	color:#004994;
}
.SbmQuickSearchLinkDiv a:active{

}
.SbmAdminHomeDiv {
padding:6px;
_width:100%;
/*margin:4px;
border:#006699 solid 1px;*/
display:block;
}
.SbmAdminHomeTable {
margin-bottom:10px;
}

td.SbmAdminHomeTitleCell {
	background-color: #FFFFFF;
	padding: 2px;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #FFFFFF;
	cursor:pointer;
	}
td.SbmAdminHomeTitleCell:Hover {
	background-color: #FFFFFF;
	padding: 2px;
	border-top: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #D7D7D7;
	cursor:pointer;
	}
td.SbmAdminHomeTitleCell:Active {
	background-color: #efefef;
	padding: 2px;
	border-top: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #D7D7D7;
	cursor:pointer;
	}
.SbmAdminHomeTitleCell a.Hide{
	/*background-color: #B5D7FF;*/
	color: #000000;
	white-space: nowrap;
	display:block;
	padding: 1px;
	border: 1px solid #FFFFFF;
	text-decoration: none;
}
.SbmAdminHomeTitleCell a.Hide:hover {	
	border: 1px solid #000000;
	color: #000000;
	text-decoration: none;
}
.SbmAdminHomeTitleCell a.Hide:active {
	border: 1px solid #efefef;
	background-color: #efefef;
	color: #FFFFFF;
	text-decoration: none;
}
.SbmAdminHomeTitleCell a.Hide:visited{
}

.SbmAdminHomeContentCell {
	background-color: #FFFFFF;
	padding: 0px;
	margin:0px;
	border-top: 0px solid #6A9FFF;
	border-right: 0px solid #6A9FFF;
	border-bottom: 0px solid #6A9FFF;
	border-left: 0px solid #6A9FFF;}
	
.SbmAdminHomeContentCell a.Edit{
	background-color: #FFFFFF;
	color: #000000;
	white-space: nowrap;
	display:block;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	border: 1px solid #FFFFFF;
	text-decoration:none;
}
.SbmAdminHomeContentCell a.Edit:hover {	
	background-color: #FFFFFF;
	border: 1px solid #5AB2EF;
	color: #000000;
	text-decoration: none;
}
.SbmAdminHomeContentCell a.Edit:active {
	border: 1px solid #5AB2EF;
	background-color: #5AB2EF;
	color: #FFFFFF;
	text-decoration: none;
}
.SbmAdminHomeContentCell a.Edit:visited{
}
.SbmAdminHomeCommonLink{ padding-top:4px; padding-bottom:4px; display: block; width:1%; white-space:nowrap; color:#00509F}



/*calendar popup*/

.SbmCalendarDiv {
display:block; 
position:absolute;
margin:0px;
border: 1px solid #FFFFFF;
/*padding:4px;
background-color:#CCCCCC*/
}

.SbmCalendarTimeCellBackground {  
	font-size: 8pt; 
	font-weight: bold; 
	background-color: #A5C7E7; 
	text-align: center
}
.SbmCalendarTimeCellBackground td{  
	font-size: 8pt;
	padding:3px;
}
.SbmCalendarTimeCellBackground input, select{
	font-size: 8pt;
	color: #000066;
	background-color: #FFFFFF;
	border: 1px solid #7B86A5;
}
.SbmCalendarYearCellBackground {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-weight: bold; 
	background-color: #A5C7E7; 
	text-align: center;
	padding:2px;
}
.SbmCalendarYearCellBackground select{  
	font-size: 8pt; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #FFFFFF; 
	border: 1px solid #7B86A5}
	

.SbmCalendarMonthTable{
	border: 1px solid #7B86A5;
}

.SbmCalendarMainTable { 
	background-color: #7B86A5;
}
.SbmCalendarMainTable td, th, input, select{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.SbmCalendarDaysTable {}
.SbmCalendarDaysTable TH{
	font-weight: bold;
	color: #52619C;
	background-color: #CED7E7;
	text-align: center;
	border-top: 0px solid #89A1B2;
	border-right: 1px solid #89A1B2;
	border-bottom: 1px solid #89A1B2;
	border-left: 0px solid #89A1B2;
	padding: 2px;
}
.SbmCalendarDaysTable TD{
	background-color: #FFFFFF;
	text-align: right;
	border-top: 0px solid #BDCED2;
	border-right: 1px solid #BDCED2;
	border-bottom: 1px solid #BDCED2;
	border-left: 0px solid #BDCED2;
	padding: 2px;
}
.SbmCalendarDaysTable TD.SbmCurrentDate{
	background-color: #FDFFDF;
	text-align: right;
	font-weight: bold;
	color: #996633;
}
TD.SbmCurrentDate A {  font-size: 8pt; 
	color: #000000; 
	text-decoration: none; 
	font-weight: bold
}
TD.SbmCurrentDate A:hover {  
	text-decoration: underline; 
	color: #000000
}
TD.SbmCurrentDate A:visited { 
}
.SbmCalendarDaysTable A {  
	color: #000000; 
	text-decoration: none
}
.SbmCalendarDaysTable A:hover {  
	text-decoration: underline; 
	color: #006699
}
.SbmCalendarDaysTable A:visited { 
}
.SbmCalendarDaysTable TD.SbmSelectedDate {
	background-color: #FDFFDF;
	text-align: right;
	padding: 2px;
}
TD.SbmSelectedDate A {  
	color: #990000; 
	text-decoration: none; 
	font-weight: bold
}
TD.SbmSelectedDate A:hover {  
	text-decoration: underline; 
	color: #FF3300
}
TD.SbmSelectedDate A:visited { 
}
.SbmCalendarMonthsTable {}
.SbmCalendarMonthsTable TD{
	background-color: #B7D4EE;
	text-align: center;
	width: 22px;
	font-weight: bold;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9BBEDD;
	border-right-color: #9BBEDD;
	border-bottom-color: #9BBEDD;
	border-left-color: #9BBEDD;
}

.SbmCalendarMonthsTable TD.SelectedMonth{
	background-color: #85B3E1;
	text-align: center;
	font-weight: bold;
	padding:2px;
}
TD.SelectedMonth A {  
	color: #FFFFEC; 
	text-decoration: none; 
	text-align: center
}
TD.SelectedMonth A:hover {  
	font-size: 8pt; 
	text-decoration: underline; 
	color: #FFFFFF
}
TD.SelectedMonth A:visited { 
}

.SbmCalendarMonthsTable TD A {  
	color: #FFFFFF; 
	text-decoration: none; 
	text-align: center
}
.SbmCalendarMonthsTable TD A:hover {  
	text-decoration: underline; 
	color: #FFFFFF
}
.SbmCalendarMonthsTable TD A:visited { 
}
.SbmCalendarButtonCell {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	background-color: #EFF7FF; 
	text-align: center;
	padding:3px
}
.SbmCalendarButtonCellBackground {
	padding: 0px;
	margin:0;
}
.SbmCalendarButtonCellBackground .SbmButtonSeparator {
	PADDING-LEFT: 1px;
	color: #52B2E7;
	width: 4px;
	padding-top: 0px;
	padding-right: 1px;
	padding-bottom: 0px;
	vertical-align: middle;
	text-align: center
}

.SbmCalendarButtonCellBackground  a {
	CURSOR: pointer;
	background-color: #ECF6FF;
	border: 1px solid #ECF6FF;
	text-decoration: none;
	color: #000000;
	white-space: nowrap;
	display:block;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px
}
.SbmCalendarButtonCellBackground a:hover {	
	CURSOR: hand;
	background-color: #FFFFFF;
	border: 1px solid #5AB2EF;
	text-decoration: none;
	color: #000000
}
.SbmCalendarButtonCellBackground a:active {
	border: 1px solid #5AB2EF;
	background-color: #5AB2EF;
	color: #FFFFFF
}
.SbmCalendarButtonCellBackground a:visited{
}
.SbmMarginePadding0 { margin:0; padding:0}
.SbmMarginePadding0 td{ margin:0; padding:0}


.SbmBizCalendarMainTable {
	border: 1px solid #7B86A5;
}
.SbmBizCalendarMainTable TH, TD{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;}
.SbmBizCalendarMainTable TH{
	font-weight: bold;
	color: #536399;
	background-color: #CED5E1;
	text-align: center;
	border-top: 0px solid #8CA2B5;
	border-right: 1px solid #8CA2B5;
	border-bottom: 1px solid #8CA2B5;
	border-left: 0px solid #8CA2B5;
}
.SbmBizCalendarMainTable TD{
	background-color: #FFFFFF;
	text-align: center;
	height: 41px;
	width: 42px;
	font-size: 11pt;
	vertical-align: middle;
	color: #333333;
	border: 1px solid #BDCFD6;
	border-top: 0px solid #BDCFD6;
	border-right: 1px solid #BDCFD6;
	border-bottom: 1px solid #BDCFD6;
	border-left: 0px solid #BDCFD6;
}
.SbmBizCalendarMainTable TD.SbmBizCalendarDay {
	background-position: center center;
}
.SbmBizCalendarMainTable TD.SbmBizCalendarDayHover {
	cursor: hand;
	cursor: pointer;
	font-weight: bold;
	background-position: center center;
	background-color: #FFFFDE;
}
.SbmBizCalendarMainTable TD.SbmBizCalendarWeekend{
	background-color: #EFEFEF;
	background-position: center center;
	color: #7C7C7C;
}
.SbmBizCalendarMainTable TD.SbmBizCalendarWeekendHover {
	background-color: #FFE6E6;
	cursor: hand;
	font-weight: bold;
	background-position: center center;
}
.SbmBizCalendarMainTable Caption {
	font-size: 10pt;
	font-weight: bold;
	background-color: #A5C7E7;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #7B86A5;
	border-right-color: #7B86A5;
	border-bottom-color: #7B86A5;
	border-left-color: #7B86A5;
	margin: 0px; padding: 0px;
}

.SbmBizCalendarMainTable TD.SbmBizCalendarMarkHoliday {
	background-color: #B5D7EF;
	cursor: hand;
	border: 1px solid #84B2E7;
	background-position: center center;
	background-image: url(../../css_70/theme01/images/biz_cal_holiday.gif);
	color: #000000;
}
.SbmBizCalendarMainTable TD.SbmBizCalendarMarkHolidayHover {
	background-color: #D3E7F5;
	cursor: hand; cursor: pointer;
	border: 1px solid #A5C7ED;
	font-weight: bold;
	background-position: center center;
	background-image: url(../../css_70/theme01/images/biz_cal_holiday.gif);
}
.SbmBizCalendarMainTable TD.SbmBizCalendarEdited {
	background-color: #BDC1CE;
	cursor: hand;
	border: 1px solid #A7ADBE;
	background-position: center center;
	background-image: url(../../css_70/theme01/images/biz_cal_edited.gif);
	color: #000000;
}
.SbmBizCalendarMainTable TD.SbmBizCalendarEditedHover {
	background-color: #A5AEC0;
	cursor: hand;cursor: pointer;
	border: 1px solid #8897AC;
	font-weight: bold;
	background-position: center center;
	color: #000000;
	background-image: url(../../css_70/theme01/images/biz_cal_edited.gif);
}
.SbmBizCalendarMonthYearTable {}
.SbmBizCalendarMonthYearTable td{
font-size:8pt;
margin:0;
padding:0;
background:none;
border:none}
.SbmBizCalendarMonthYearTable select{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000066;
	background-color: #FFFFFF;
	border: 1px solid #7B86A5;
}

.SbmBizCalendarLegendTable {
padding:4px;
	background-color: #FFFFFF;
	border-top: 0px solid #7B86A5;
	border-right: 1px solid #7B86A5;
	border-bottom: 1px solid #7B86A5;
	border-left: 1px solid #7B86A5;
}
.SbmHolidayListDiv {
	visibility: visible;
	SCROLLBAR-FACE-COLOR: #FFFFE1;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #665E00;
	SCROLLBAR-3DLIGHT-COLOR: #CCB600;
	SCROLLBAR-ARROW-COLOR: #333200;
	SCROLLBAR-DARKSHADOW-COLOR: #D3AD45;
	SCROLLBAR-BASE-COLOR: #FDFCDE;
	scrollbar-track-color: #ECE9BC;
	overflow: auto;
	background-color: #FFFFEF;
	layer-background-color: #D1D0B1;
	background-repeat: repeat-x;
	background-attachment: fixed;
	border: 1px solid #B6A778;
	height:338px;
}
.SbmHolidayListDiv{}
.SbmHolidayListDiv a, td, caption{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;}
.SbmHolidayListDiv Table{
	background-color: #C8C19D;
	padding:0;
	margin:0;}
.SbmHolidayListDiv Caption{
	padding: 3px;
	background-color:#FFFFCC;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFCC66;
	border-right-color: #FFCC66;
	border-bottom-color: #FFCC66;
	border-left-color: #FFCC66;
}
.SbmHolidayListDiv td{
	padding: 3px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F2ECB6;
	border-right-color: #F2ECB6;
	border-bottom-color: #F2ECB6;
	border-left-color: #F2ECB6;
	background-color: #FFFFEF;
}
.SbmBizCalendarComponentMainDiv{
padding:8px;}
.SbmBizCalendarComponent{ 
position:absolute;
}
.SbmBizCalendarComponentHolidayList{
position:absolute;
left:430px;
width:250px;
}
.SbmDisabledSelect{
	background-color: #CCCCCC;
}

.SbmDashboardComponentContainerDiv{
	font-size:8pt;
	background-color: #CCCCCC;
	/*display:block;*/
	padding:4px}

.SbmDashboardComponentHorizontalSeparator{
	background-color: #CCCCCC;
	display:block;
	border:1px solid #000000;
	height:4px;
	position: relative;
	}
	
.SbmDashboardComponentDiv{
	background-color: #CCCCCC;
	/*display:block;
	width:400px;*/
	border:2px solid #993300;
	float:left;
	}
.SbmDashboardComponentTitleDiv {
	background-color: #CAE3FF;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	border: 1px solid #7B86A5;
	height:18px;
}
.SbmDashboardComponentContentDiv {
	background-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	border-top: 0px solid #7B86A5;
	border-right: 1px solid #7B86A5;
	border-bottom: 1px solid #7B86A5;
	border-left: 1px solid #7B86A5;
	/*width:390px;*/
}
.SbmDashboardComponentTitle{ float:left;
	border: 1px solid #CAE3FF;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px
}
.SbmDashboardComponentHelp{ float: right;
width:17px;

}
.SbmDashboardComponentEdit{ float:right;
width:44px;
}
.SbmDashboardComponentDelete{ float:right;
width:58px;
}
.SbmDashboardComponentHide{ float:right;
width:20px;
}

fieldset, legend { margin:0; padding:0;}
.SbmGroupFieldset {
	position:relative;
margin-top:10px;
_margin-top:20px;
background:#F7FBFF;
padding-top:10px;
_padding-top:20px;
padding-left:8px;
padding-right:8px;
padding-bottom:8px;
border:solid 1px #7B86A5;
}


.SbmGroupFieldset td.SbmLabel {
	BORDER-RIGHT: 0px solid #C3D1DF;
	BORDER-TOP: 0px solid #C3D1DF;
	BORDER-LEFT: 0px solid #C3D1DF;
	BORDER-BOTTOM: 0px solid #C3D1DF;
	padding: 4px;
	padding-left:16px;
	text-align: right;
	font-weight: bold;
	background-color:#F7FBFF
}
.SbmGroupFieldset td.SbmValue {
	BORDER-RIGHT: 0px solid #C3D1DF;
	BORDER-TOP: 0px solid #C3D1DF;
	BORDER-LEFT: 0px solid #C3D1DF;
	BORDER-BOTTOM: 0px solid #C3D1DF;
	padding: 4px;
	background-color:#F7FBFF
	
}

.SbmGroupLegend {
	position:absolute;
 top:-10px;
 background:#F7FBFF;
 color:#000000;
 border:1px solid #7B86A5; 
 padding:3px 6px;
 font-weight:bold;
}

a.SbmDetailsPreviousTask, a.SbmDetailsNextTask {
	float:right;
	margin-right:8px;
	font-size:8pt;color: #004994;
	text-decoration: none;
}

a.SbmDetailsNextTask:hover,  a.SbmDetailsPreviousTask:hover{
	text-decoration: underline
}

.SbmDetailsTitleLinkGroup{
width:200px; 
border:0px solid #000000; 
display:block}