<configform synchronous="true" version="1.3">
    <block title="Inputs" label="wsadapter:Config.label.inputs" hidden="false">
        <param name="SESSION_TOKEN_SUPPORT" access="HIDDEN" label="SESSION_TOKEN_SUPPORT" type="java.lang.String" value="false"/>
        <param name="WSCONFIG" access="HIDDEN" label="WSCONFIG" type="java.lang.String">
<java version="1.6.0_05" class="java.beans.XMLDecoder"> 
 <object class="com.savvion.sbm.adapters.webservice.WSConfig"> 
  <void property="callInfo"> 
   <object class="com.savvion.sbm.adapters.webservice.WSCallInfo"> 
    <void property="encodingType"> 
     <string>LITERAL</string> 
    </void> 
   </object> 
  </void> 
  <void property="operationInfo"> 
   <object class="com.savvion.sbm.adapters.webservice.OperationInfo"> 
    <void property="QName"> 
     <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
      <void property="localPart"> 
       <string>ResolveProposalRefundServiceSavvion</string> 
      </void> 
      <void property="namesSpace"> 
       <string>http://tempuri.org/</string> 
      </void> 
     </object> 
    </void> 
    <void property="inputParam"> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>ProposalRefundTranID</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://tempuri.org/</string> 
         </void> 
        </object> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>ProposalRefundTranID</string> 
       </void> 
       <void property="mode"> 
        <int>1</int> 
       </void> 
       <void property="name"> 
        <string>ProposalRefundTranID</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>ProposalRefundTranID.0_0</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>RefundStatus</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://tempuri.org/</string> 
         </void> 
        </object> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>RefundStatus</string> 
       </void> 
       <void property="mode"> 
        <int>1</int> 
       </void> 
       <void property="name"> 
        <string>RefundStatus</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>RefundStatus.1_0</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>Remark</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://tempuri.org/</string> 
         </void> 
        </object> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>Remark</string> 
       </void> 
       <void property="mode"> 
        <int>1</int> 
       </void> 
       <void property="name"> 
        <string>Remark</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>Remark.2_0</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>ApprovedBy</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://tempuri.org/</string> 
         </void> 
        </object> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>ApprovedBy</string> 
       </void> 
       <void property="mode"> 
        <int>1</int> 
       </void> 
       <void property="name"> 
        <string>ApprovedBy</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>ApprovedBy.3_0</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="isAllPrimitive"> 
     <boolean>true</boolean> 
    </void> 
    <void property="isWrapped"> 
     <boolean>true</boolean> 
    </void> 
    <void property="returnParam"> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>ResolveProposalRefundServiceSavvionResult</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://tempuri.org/</string> 
         </void> 
        </object> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>ResolveProposalRefundServiceSavvionResult</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>ResolveProposalRefundServiceSavvionResult</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>ResolveProposalRefundServiceSavvionResult.4_0</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="style"> 
     <string>document</string> 
    </void> 
    <void property="use"> 
     <string>literal</string> 
    </void> 
   </object> 
  </void> 
  <void property="otherSecConfigFile"> 
   <string></string> 
  </void> 
  <void property="password"> 
   <string></string> 
  </void> 
  <void property="portInfo"> 
   <object class="com.savvion.sbm.adapters.webservice.PortInfo"> 
    <void property="QName"> 
     <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
      <void property="localPart"> 
       <string>BasicHttpBinding_IProposalRefund</string> 
      </void> 
      <void property="namesSpace"> 
       <string>http://tempuri.org/</string> 
      </void> 
     </object> 
    </void> 
    <void property="description"> 
     <string>BasicHttpBinding_IProposalRefund</string> 
    </void> 
   </object> 
  </void> 
  <void property="runtimeSecurityType"> 
   <int>0</int> 
  </void> 
  <void property="samlTokenConfigFile"> 
   <string></string> 
  </void> 
  <void property="serviceInfo"> 
   <object class="com.savvion.sbm.adapters.webservice.ServiceInfo"> 
    <void property="QName"> 
     <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
      <void property="localPart"> 
       <string>ProposalRefund</string> 
      </void> 
      <void property="namesSpace"> 
       <string>http://tempuri.org/</string> 
      </void> 
     </object> 
    </void> 
    <void property="description"> 
     <string>ProposalRefund</string> 
    </void> 
   </object> 
  </void> 
  <void property="soapActionURI"> 
   <string>http://tempuri.org/IProposalRefund/ResolveProposalRefundServiceSavvion</string> 
  </void> 
  <void property="targetEndpointAddress"> 
   <string>http://rgiicmapp01.reliancecapital.com:91/ProposalRefund.svc</string> 
  </void> 
  <void property="targetNameSpace"> 
   <string>http://tempuri.org/</string> 
  </void> 
  <void property="userName"> 
   <string></string> 
  </void> 
  <void property="userNameTokenConfigFile"> 
   <string></string> 
  </void> 
  <void property="wsdlPassword"> 
   <string></string> 
  </void> 
  <void property="wsdlUrl"> 
   <string>http://rgiicmapp01.reliancecapital.com:91/ProposalRefund.svc?wsdl</string> 
  </void> 
  <void property="wsdlUserName"> 
   <string></string> 
  </void> 
 </object> 
</java> 
</param>
        <param name="IN.ProposalRefundTranID.0_0" access="I" label="ProposalRefundTranID" type="java.lang.String" value="" mandatory="true"/>
        <param name="IN.RefundStatus.1_0" access="I" label="RefundStatus" type="java.lang.String" value="" mandatory="true"/>
        <param name="IN.Remark.2_0" access="I" label="Remark" type="java.lang.String" value="" mandatory="true"/>
        <param name="IN.ApprovedBy.3_0" access="I" label="ApprovedBy" type="java.lang.String" value="" mandatory="true"/>
    </block>
    <block title="Outputs" label="wsadapter:Config.label.outputs" hidden="false">
        <param name="OUT.ResolveProposalRefundServiceSavvionResult.4_0" access="O" label="ResolveProposalRefundServiceSavvionResult" type="java.lang.String" value="" mandatory="true"/>
    </block>
    <block title="Advanced" label="wsadapter:Config.label.advanced" hidden="false">
        <param name="TARGET_EPA" access="I" label="wsadapter:Config.label.targetEndpointAddress" type="java.lang.String" value=""/>
    </block>
</configform>
